<%= provide :title, "W.E Learning" %>
<%= render "shared/banner" %>

<div class="row">
  <% @newcourses.each_with_index do |crs, i| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <%= link_to course_path(crs) do %>
        <div class="card h-100">
          <%= image_tag crs.picture_url || "http://placehold.it/700x400",
            class: "d-block img-fluid", size: "700x400" %>
          <div class="card-body">
            <h4 class="card-title">
              <%= crs.name  %>
            </h4>
            <h5>
              <%= number_to_currency(crs.price, unit: "đ",precision: 0, format: "%n %u") %>
            </h5>
            <p class="card-text"><%= crs.description %></p>
          </div>
          <div class="card-footer">
            <div class="star-rating" data-score= <%= crs.avg_rate %> ></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
