<fieldset>
  <div class="form-inline">
    <%= f.label :question_content, "Cau hoi" %>
    <%= f.text_area :question_content, cols: 80, rows: 2, class: "form-control mb-2" %>
    <%= f.hidden_field :_destroy %> <br>
      <% if @excercise.questions.present? %>
        <%= f.fields_for :answers do |ff| %>
          <%= render "admin/excercises/answer_fields", f: ff, type: ff.object.answer_content %>
        <% end %>
      <% end %>
    <div class="btn-group-add-field">
        <%= link_to_add_answers "Add Answer", f, :answers, value: params[:question_id] %>
    </div> &nbsp; 
    <%= link_to "Remove", "#", class: "remove_question" %>
  </div>
  <br>
</fieldset>