<% provide :title, "Thiết kế bài tập" %>
<% provide :button, "Tạo bài tập" %>

<h1 align="center">Thiết kế bài tập</h1>
<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, :lesson, @excercise] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :excercise_name, "Tên bài tập" %>
      <%= f.text_field :excercise_name, class: "form-control mb-2" %>
      <%= f.hidden_field :hiden_tab, value: 1 %>
        <% if @excercise.questions.present?%>
          <%= f.fields_for :questions do |ff| %>
            <%= render "admin/excercises/question_fields", f: ff, type: ff.object.question_content %>
          <% end %>
        <% end %>
      <div class="btn-group-add-field">
        <%= link_to_add_questions "Add Question", f, :questions, value: params[:excercise_id] %>
      </div>
      <%= f.submit "Tạo mới bài tập",
      class: "mt-3 btn btn-success btn-sm btn-block" %>
    <% end %>
  </div>
</div>
