<% @payment = 0 %>
<table width="100%" align="center" class="table table-hover">
  <thead>
    <tr>
      <th>Tên khóa học</th>
      <th>Giá tiền</th>
      <th>Bỏ</th>
    </tr>
  </thead>
  <ul class="user_courses">
    <% @user_courses.each do |user_course| %>
      <tbody>
        <% if user_course.in_cart? %>
          <td><%= user_course.course.name %></td>
          <td><%= user_course.course.price %></td>
          <td>
            <%= link_to ucname_user_course_path(user_course), method: :delete do %>
              <i class="fas fa-trash-alt text-dark"></i>
            <% end %>
          </td>
          <% @payment += user_course.course.price %>
        <% end %>
      </tbody>
    <% end %>
  </ul>
</table>
<hr>
<div class="row d-flex justify-content-between">
  <%= button_to [:user, :carts], class: "btn btn-danger ml-3",
    data: { confirm: "Xác nhận thanh toán #{@payment}$ ?" } do %>
    <i class="fas fa-money-check-alt"></i>
    <span>Thanh toán</span>
  <% end %>
  <h2 class="mr-3">Tổng tiền: <%= @payment %></h2>
</div>
