<h2 align="center">Tìm kiếm</h2>
<%= form_for :search, url: searches_path, method: :get do |f| %>
  <%= f.label :title, "Tên khóa học" %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :category_ids, "Thư viện" %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :tag do |b|%>
    <%= b.label class:"d-block form-check-label" do %>
      <%= b.check_box class:"form-check-input"%>
      <%= b.text %>
    <% end%>
  <% end %>
  <%= f.submit "Tìm kiếm", class: "btn btn-success" %>
<% end %>

<% if @results %>
  <% @results.each do |result| %>
    <li>
      <%= link_to result.name, course_path(result) %>
    </li>
  <% end %>
<% end %>
