<tbody>
  <tr>
    <td><%= course.id %></td>
    <td><%= course.name %></td>
    <td><%= course.category.tag %></td>
    <td><%= course.rate %></td>
    <td><%= course.price %></td>
    <td><%= course.buy_times %></td>
    <td><%= link_to "Chi tiết", course_path(course),
      class: "btn btn-warning btn-sm" %></td>
    <td><%= link_to "Mua", [:admin, course], method: :delete,
      class: "btn btn-danger btn-sm",
      data: { confirm: "Xác nhận xóa khóa học #{course.name}" } %></td>
  </tr>
</tbody>
