<tbody>
  <tr>
    <td><%= course.id %></td>
    <td><%= course.name %></td>
    <td><%= course.category.tag %></td>
    <td><div class="star-rating" data-score= <%= course.avg_rate %> ></div></td>
    <td><%= number_to_currency(course.price, unit: "đ",precision: 0, format: "%n %u") %></td>
    <td><%= course.buy_times %></td>
    <td><%= link_to "Chi tiết", [:admin, course],
      class: "btn btn-warning btn-sm" %></td>
    <td><%= link_to "Xóa", [:admin, course], method: :delete,
      class: "btn btn-danger btn-sm",
      data: { confirm: "Xác nhận xóa khóa học #{course.name}" } %></td>
  </tr>
</tbody>
