<% provide :title, @course.name %>
<h1 align="center">
  <%= @course.name %>
</h1>

<div class="row">
  <div class="col-xl-8 col-md-8 ml-4">Mô tả khóa học: <%= @course.description %></div>
  <div class="col-xl-3">
    <%= link_to "Cập nhật", edit_admin_course_path, class: "btn btn-info btn-sm float-right mb-2" %>
  </div>
</div>

<table width="95%" align="center" class="table-hover">
  <thead>
    <tr>
      <th>Bài giảng</th>
      <th>Chi tiết</th>
      <th>Chỉnh sửa</th>
      <th>Xóa</th>
    </tr>
  </thead>
  <% if @course.lessons.present? %>
      <ol class="lessons">
        <%= render @lessons %>
      </ol>
  <% end %>

</table>
  <%= will_paginate(@lessons,
    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,
    class: "mt-2 mr-2 pagination-sm d-flex justify-content-end")%>
<%= link_to "Thêm bài giảng", new_admin_course_lesson_path(@course, @lesson), class: "float-right btn btn-primary btn-sm mr-2 mt-2"%>
