<!DOCTYPE html>
<html lang="en">

<head>

  <title><%= full_title yield :title%></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "admin/application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "admin/application", "data-turbolinks-track": "reload" %>

</head>

<body id="page-top" style="padding-top: 0px;">
  <div id="wrapper">
    <%= render "admin/shared/sidebar" %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%= render "admin/shared/topbar" %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
      <%= render "admin/shared/footer" %>
    </div>
  </div>
  <!-- Scroll to Top Button-->
  <%= render "admin/shared/scroll_button" %>

  <!-- Logout Modal-->
  <%= render "admin/shared/logout" %>

</body>

</html>
